
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #555;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 0;
}

h2 {
	color: #555;
	background-color: transparent;
	font-size: 15px;
	font-weight: 600;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

p.error {
	color: red;
}

#container {
	margin: 10px;
}

.search-box-container {
    border: 1px solid #D0D0D0;
    margin: 15px 0 15px 0;
    padding: 10px;
}


.ticket-box {
	border: 2px solid #ddd;
	padding: 0;
	width: 340px;
	height: 500px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 226px 50px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 226px 50px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 226px 50px rgba(255,255,255,1);
}

.ticket-box > .content {
	padding: 5px;
}

.ticket-key {
	font-weight: 800;
	font-size: 3em;
	vertical-align: bottom;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
}

.ticket-type {
    font-size: 0.6em;
    padding-left: 20px;
}

.ticket-summary {
	font-weight: 500;
    font-size: 3em;
    padding-left: 0;
    display: block;
    height: 130px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    -webkit-print-color-adjust: exact;
    line-height: 0.9em;
}

.ticket-summary .content:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 0.8) 95%);
	width: 100%;
	height: 0.7em;
	-webkit-print-color-adjust: exact;
}

span.ticket-points {
	right: 5px;
	position: absolute;
	font-size: 2.0em;
}

.ticket-description {
	padding-top: 1.8em;
    height: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.7em;
    line-height: 1.5em;
}

.ticket-description .content {
	position: relative;
	display: block;
	height: inherit;
	-webkit-print-color-adjust: exact;
	font-size: 1.3em;
}

.ticket-description .content:after {
	content  : "";
	position : absolute;
	z-index  : 1;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, 
						rgba(255,255,255, 0), 
						rgba(255,255,255, 1) 90%);
	width    : 100%;
	height   : 3em;
	-webkit-print-color-adjust: exact;
}


.ticket-additional {
	height: 58px;
	border: 1px solid #eee;
	display: block;
	background: #fff;
	width: 100%;
}

/* the backgrounds based on ticket type */
.ticket-box.type-spike .ticket-key {
    color: rgb(175, 175, 0);
}

.ticket-box.type-task .ticket-key {
    color: rgb(0, 36, 175);
}

.ticket-box.type-bug .ticket-key {
    color: rgb(175, 0, 71);
}

.footer {
	height: 110px;
	text-align: center;
}

.footer.warranty {
	font-size: 0.7em;
    width: 80%;
    font-style: italic;
    line-height: initial;
    text-align: center;
    margin: 0 auto;
    color: #ccc;
}

.epicPieContainer {
	max-width: 1100px;
	margin: 0 auto;
}


.print-menu {
    padding: 10px;
    background-color: rgba(222,222,222,0.5);
    margin: 10px 0 10px 0;
}

/* ticket themes */
/* smaller */
.ticket-box.smaller {
	height: 300px;
}
.ticket-box.smaller .ticket-summary {
	font-size: 2em;
	height: 68px;
}
.ticket-box.smaller .ticket-key {
	font-size: 2em;
}
.ticket-box.smaller .ticket-description {
	height: 130px;
}
.ticket-box.smaller .ticket-additional {
	height: 30px;
}

/* extra small */
.ticket-box.extra-small {
	height: 220px;
	width: 220px;
}
.ticket-box.extra-small .ticket-key {
	font-size: 1.8em;
}
.ticket-box.extra-small .ticket-summary {
	font-size: 1.5em;
	height: 48px;
}
.ticket-box.extra-small .ticket-description {
	height: 67px;
}
.ticket-box.extra-small .ticket-additional {
	height: 27px;
}


/* large */
.ticket-box.large {
	height: 320px;
	width: 500px;
}

.ticket-box.large .ticket-summary {
	height: 65px;
}

.ticket-box.large .ticket-description {
	height: 123px;
}

.ticket-box.large .ticket-additional {
	height: 58px;
}

@media print {
	@page {
		size: A4;
	}

	@page :left {
		margin-left: 1cm;
	}

	@page :right {
		margin-right: 1cm;
	}

	#container h1,
	#container h2,
	.footer,
	.jira-url,
	.print-menu {
		display: none;
	}

	#container h1.show-in-print {
		display: block;
	}

	.ticket-box {
		page-break-inside: avoid;
	}

	body {
		margin: 0;
		padding: 0;
	}
}